@model WebASPMVC_BS.Models.USER

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>USER</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.first_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.first_name)
            @Html.ValidationMessageFor(model => model.first_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email_addr_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email_addr_1)
            @Html.ValidationMessageFor(model => model.email_addr_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email_addr_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email_addr_2)
            @Html.ValidationMessageFor(model => model.email_addr_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shipping_address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shipping_address)
            @Html.ValidationMessageFor(model => model.shipping_address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.account_status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.account_status)
            @Html.ValidationMessageFor(model => model.account_status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usr_lvl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usr_lvl)
            @Html.ValidationMessageFor(model => model.usr_lvl)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
