<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Bootstrap</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body  >
   
    <header>
        <div class="navbar nav-header">
            <div class="navbar-inner">

                <ul class="nav nav-tabs">
                    <li>
                        <a class="btn btn-group" href="/Home/Index">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </a>
                    </li>

                    <li class="divider-vertical"></li>

                    <li>
                        <a class="btn btn-group" href="/Home/Contact">
                            <span class="glyphicon glyphicon-phone"></span> Contact
                        </a>

                    </li>

                    <li>
                        <a class="btn btn-group" href="/Track/Index">
                            <span class="glyphicon glyphicon-headphones"></span> Tracks
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-group" href="/Track/IndexCarousel">
                            <span class="glyphicon glyphicon-headphones"></span> Carousel
                        </a>
                    </li>

                    <li class="right">
                        <a class="btn btn-group" href="/Home/About">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            About

                        </a>
                    </li>

                </ul>

            </div>
        </div>

    </header>


    <div id="body" class="content-wrapper">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix table-bordered">
            @RenderBody()


        </section>

    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - @ViewData.GetViewDataInfo("FooterText")</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)


</body>
</html>



