@model WebASPMVC_BS.Models.ITEM

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><b>Add Item</b></legend>
        <p>
            <div class="editor-label">
               Description
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dscr_short)
                @Html.ValidationMessageFor(model => model.dscr_short)
            </div>

            <div class="editor-label">
                Full Description
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.dscr_full, new { style = "align:left; width: 200px; height: 100px;" })
                @Html.ValidationMessageFor(model => model.dscr_full)

            </div>

            <div class="editor-label">
                Condition
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.typ_condition)
                @Html.ValidationMessageFor(model => model.typ_condition)
            </div>
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
