@model WebASPMVC_BS.Models.ITEM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ITEM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_orig_owner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_orig_owner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dscr_short)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dscr_short)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dscr_full)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dscr_full)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.typ_condition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.typ_condition)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
