@model IEnumerable<WebASPMVC_BS.Models.ITEM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_orig_owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dscr_short)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dscr_full)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typ_condition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_orig_owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dscr_short)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dscr_full)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typ_condition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
